
<ion-content
color="primary"
[scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">

<div>

  <div class="text-center">
    <ion-row>
      <ion-col>
        <ion-card>
          <h3 orange>Total questions</h3>
          <p>20</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <h3 orange>Moyenne</h3>
          <p>12/20</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <h3 orange>Total questions</h3>
          <p>dede dede</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <h3 orange>Total questions</h3>
          <p>dede dede</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</div>



</ion-content>