
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="schedule">
      <ion-icon color="tertiary" name="apps-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers" >
      <ion-icon color="tertiary" name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="about">
      <ion-icon color="tertiary" name="stats-chart-outline"></ion-icon>
      <ion-label color="light">Stats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
