
  <ion-tab-bar slot="bottom" >

    <ion-tab-button [routerLink]="['/']" tab="home">
      <ion-icon color="tertiary" name="apps-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/profile']" tab="profile" >
      <ion-icon color="tertiary" name="person-circle"></ion-icon>

      <ion-label>Profile</ion-label>
    </ion-tab-button>


    <ion-tab-button [routerLink]="['/stats']" tab="stats">
      <ion-icon color="tertiary" name="stats-chart-outline"></ion-icon>
      <ion-label >Stats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
