/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

  
  
  
  
  :root {
    --ion-color-newblue: #234a7c;
    --ion-color-newblue-rgb: 35,74,124;
    --ion-color-newblue-contrast: #ffffff;
    --ion-color-newblue-contrast-rgb: 255,255,255;
    --ion-color-newblue-shade: #1f416d;
    --ion-color-newblue-tint: #395c89;
  }
  
  .ion-color-newblue {
    --ion-color-base: var(--ion-color-newblue);
    --ion-color-base-rgb: var(--ion-color-newblue-rgb);
    --ion-color-contrast: var(--ion-color-newblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-newblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-newblue-shade);
    --ion-color-tint: var(--ion-color-newblue-tint);
  }
  :root {
    --ion-color-newgray: #edf0f8;
    --ion-color-newgray-rgb: 237,240,248;
    --ion-color-newgray-contrast: #000000;
    --ion-color-newgray-contrast-rgb: 0,0,0;
    --ion-color-newgray-shade: #d1d3da;
    --ion-color-newgray-tint: #eff2f9;
  }
  
  .ion-color-newgray {
    --ion-color-base: var(--ion-color-newgray);
    --ion-color-base-rgb: var(--ion-color-newgray-rgb);
    --ion-color-contrast: var(--ion-color-newgray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-newgray-contrast-rgb);
    --ion-color-shade: var(--ion-color-newgray-shade);
    --ion-color-tint: var(--ion-color-newgray-tint);
  }
    
  :root {
    --ion-color-newblue: #0e6fce;
    --ion-color-newblue-rgb: 14,111,206;
    --ion-color-newblue-contrast: #ffffff;
    --ion-color-newblue-contrast-rgb: 255,255,255;
    --ion-color-newblue-shade: #0c62b5;
    --ion-color-newblue-tint: #267dd3;
  }
  
  .ion-color-newblue {
    --ion-color-base: var(--ion-color-newblue);
    --ion-color-base-rgb: var(--ion-color-newblue-rgb);
    --ion-color-contrast: var(--ion-color-newblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-newblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-newblue-shade);
    --ion-color-tint: var(--ion-color-newblue-tint);
  }
  